<div class="row">
    <div class="col-lg-10 col-md-12 col-sm-12" style="padding: 40px 25px;">

        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Color</th>
                    <th scope="col">Catagory</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productlist, let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.color}}</td>
                    <td>{{product.catagory}}</td>
                    <td>{{product.quantity}}</td>
                    <td style="width: 25%;"><img src="{{product.image}}" style="width: 40%;"></td>
                    <td>
                        <button type="submit" class="btn btn-outline-success mx-1" routerLink="">Buy now</button>
                        <button type="submit" class="btn btn-outline-danger mx-1"
                            (click)="removetocart(product.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="col-lg-2 col-md-12 col-sm-12" style="padding: 40px 0px;">

        <h1>Summary</h1>
        <ul class="my-4">
            <li><span>Amount</span><span>5000</span></li>
            <hr>
            <li><span>Tax</span><span>50</span></li>
            <hr>
            <li><span>Delievery</span><span>50</span></li>
            <hr>
        </ul>

    </div>
</div>